# Importo bibliotecas

In [282]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

ModuleNotFoundError: No module named 'sklearn'

# Lectura de los datos

In [245]:
data = pd.read_csv('weatherAUS.csv')

# Primera mirada

In [246]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [247]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

# Preparación de los datos

In [248]:
# Nota: perceptron trabaja con pesos por lo que nos conviene que todas las columnas sean numericas y este normalizadas

# Date

Separo la fecha de acuerdo a la estación del año (de Australia)

In [249]:
def get_season(date):
    split_date = date.split(sep='-')
    month = int(split_date[1])
    if month==1 or month==2 or month==12:
        return 1
    elif month>=3 and month<=5:
        return 2
    elif month>=6 and month<=8:
        return 3
    return 4

In [250]:
data['season']= data['Date'].apply(get_season)

In [251]:
data = data.drop(['Date'], axis=1)

In [252]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,season
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,1
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,1
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,1
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,1
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No,3
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No,3
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No,3
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No,3
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN,3

## Location

Esta columna no ayuda a backpropagation por lo que la descarto

In [253]:
data = data.drop(['Location'], axis=1)

## Funciones de normalizacion

Este es uno de los métodos ampliamente utilizados para la normalización. El resultado de la normalización resta el valor mínimo de Dataframe y lo divide por la diferencia entre el valor más alto y el más bajo de la columna correspondiente.

In [254]:
def minmax_norm(df):
    return (df - df.min()) / ( df.max() - df.min())

La normalización media es una de las formas más fáciles de normalizar los Dataframes de rangos variados. La normalización se hace restando la media y dividiendo por la desviación estándar para todos los elementos del Dataframe.

In [255]:
def mean_norm(df):
    mean = df.mean()
    std = df.std()
    return df.apply(lambda x: (x-mean)/ std)

## MinTemp y MaxTem

In [256]:
data['MinTemp'].min()

-8.5

In [257]:
data['MaxTemp'].max()

48.1

In [258]:
# Completo los datos faltantes con la media de la estacion

In [259]:
selected_columns = data.loc[:,['MinTemp','MaxTemp','season']]
means = selected_columns.groupby('season').mean()

In [260]:
means=means.to_dict()

In [261]:
data['MinTemp'] = data.apply(lambda x: x['MinTemp'] if not np.isnan(x['MinTemp']) else means['MinTemp'][x['season']], axis=1)

In [262]:
data['MaxTemp'] = data.apply(lambda x: x['MaxTemp'] if not np.isnan(x['MaxTemp']) else means['MaxTemp'][x['season']], axis=1)

In [263]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   MinTemp        145460 non-null  float64
 1   MaxTemp        145460 non-null  float64
 2   Rainfall       142199 non-null  float64
 3   Evaporation    82670 non-null   float64
 4   Sunshine       75625 non-null   float64
 5   WindGustDir    135134 non-null  object
 6   WindGustSpeed  135197 non-null  float64
 7   WindDir9am     134894 non-null  object
 8   WindDir3pm     141232 non-null  object
 9   WindSpeed9am   143693 non-null  float64
 10  WindSpeed3pm   142398 non-null  float64
 11  Humidity9am    142806 non-null  float64
 12  Humidity3pm    140953 non-null  float64
 13  Pressure9am    130395 non-null  float64
 14  Pressure3pm    130432 non-null  float64
 15  Cloud9am       89572 non-null   float64
 16  Cloud3pm       86102 non-null   float64
 17  Temp9am        143693 non-null  float64
 18  Temp3pm        141851 non-null  float64
 19  RainToday      142199 non-null  object
 20  RainTomorrow   142193 non-null  object
 21  season         145460 non-null  int64
dtypes: float64(16), int64(1), object(5)
memory usage: 24.4+ MB

In [264]:
data[data['MinTemp']==np.nan]

Empty DataFrame
Columns: [MinTemp, MaxTemp, Rainfall, Evaporation, Sunshine, WindGustDir, WindGustSpeed, WindDir9am, WindDir3pm, WindSpeed9am, WindSpeed3pm, Humidity9am, Humidity3pm, Pressure9am, Pressure3pm, Cloud9am, Cloud3pm, Temp9am, Temp3pm, RainToday, RainTomorrow, season]
Index: []

[0 rows x 22 columns]

In [265]:
# Aplico minmax
data['MinTemp'] = minmax_norm(data['MinTemp'])
data['MaxTemp'] = minmax_norm(data['MaxTemp'])

In [266]:
data['MinTemp'].min()

0.0

In [267]:
data['MaxTemp'].max()

1.0

In [268]:
data

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,season
0,0.516509,0.523629,0.6,NaN,NaN,W,44.0,W,WNW,20.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,1
1,0.375000,0.565217,0.0,NaN,NaN,WNW,44.0,NNW,WSW,4.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,1
2,0.504717,0.576560,0.0,NaN,NaN,WSW,46.0,W,WSW,19.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,1
3,0.417453,0.620038,0.0,NaN,NaN,NE,24.0,SE,E,11.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,1
4,0.613208,0.701323,1.0,NaN,NaN,W,41.0,ENE,NW,7.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0.266509,0.533081,0.0,NaN,NaN,E,31.0,SE,ENE,13.0,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No,3
145456,0.285377,0.568998,0.0,NaN,NaN,NNW,22.0,SE,N,13.0,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No,3
145457,0.327830,0.599244,0.0,NaN,NaN,N,37.0,SE,WNW,9.0,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No,3
145458,0.384434,0.601134,0.0,NaN,NaN,SE,28.0,SSE,N,13.0,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No,3
145459,0.551887,0.420208,0.0,NaN,NaN,NaN,NaN,ESE,ESE,17.0,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN,3

In [269]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   MinTemp        145460 non-null  float64
 1   MaxTemp        145460 non-null  float64
 2   Rainfall       142199 non-null  float64
 3   Evaporation    82670 non-null   float64
 4   Sunshine       75625 non-null   float64
 5   WindGustDir    135134 non-null  object
 6   WindGustSpeed  135197 non-null  float64
 7   WindDir9am     134894 non-null  object
 8   WindDir3pm     141232 non-null  object
 9   WindSpeed9am   143693 non-null  float64
 10  WindSpeed3pm   142398 non-null  float64
 11  Humidity9am    142806 non-null  float64
 12  Humidity3pm    140953 non-null  float64
 13  Pressure9am    130395 non-null  float64
 14  Pressure3pm    130432 non-null  float64
 15  Cloud9am       89572 non-null   float64
 16  Cloud3pm       86102 non-null   float64
 17  Temp9am        143693 non-null  float64
 18  Temp3pm        141851 non-null  float64
 19  RainToday      142199 non-null  object
 20  RainTomorrow   142193 non-null  object
 21  season         145460 non-null  int64
dtypes: float64(16), int64(1), object(5)
memory usage: 24.4+ MB

## RainFall

In [270]:
data['Rainfall'].max()

371.0

In [271]:
data['Rainfall'].min()

0.0

In [272]:
# Completo con la media por estacion

In [273]:
selected_columns = data.loc[:,['Rainfall','season']]
means = selected_columns.groupby('season').mean()

In [274]:
means=means.to_dict()['Rainfall']

In [275]:
means

{1: 2.798931511648275,
 2: 2.385702826278777,
 3: 2.3415734401959147,
 4: 1.9207384722061713}

In [276]:
data['Rainfall'] = data.apply(lambda x: x['Rainfall'] if not np.isnan(x['Rainfall']) else means[x['season']], axis=1)

In [277]:
# Normalizo usando la media

In [278]:
data['Rainfall'] = mean_norm(data['Rainfall'])

In [281]:
data['Rainfall'].max()

43.97657234944839